<!DOCTYPE html>
<html lang = "en-GB">
	<head>
		<title>{{ page.title }}</title>
		<link href = "https://fonts.googleapis.com/css?family=Nunito Sans" rel = "stylesheet">
		<link rel = "stylesheet"  type = "text/css" href = "/assets/css/{{ site.stylesheet }}">
		<link rel = "icon" href = "/assets/img/icon.png">
		<meta charset = "utf-8">
		{% include analytics.html %}
	</head>
	<body>
		{% if site.devbanner %}
			<div class = "DevBanner">
				{% include devbanner.html %}
			</div>
		{% endif %}
		<header style = "background-color: #{{ page.colour }} ;">
			<img src = "/assets/img/logo.png" alt = "{{ site.title }} Logo" class = "LogoImage">
			<div class = "MenuBar">
				{% include menubar.html %}
			</div>
		</header>
		<div class = "Message" id = "Message" style = "display: none;">
			{{ site.posts.first }}
		</div>
		<main>
			<h1>{{ page.heading }}</h1>
			{{ content }}
		</main>
		<footer style = "background-color: #{{ page.colour }};">
			{% include socials.html %}
			<p>Copyright {{ site.time | date: "%Y" }} {{ site.title }}.</p>
			<p>Created by {{ page.authors }}.</p>
		</footer>
	</body>
	<script type = "text/JavaScript" src = "/assets/js/ShowMessage.js"></script>
</html>
